### Задание

    Попробуйте собрать датафрэйм об объектах недвижимости с сайта cian.ru, используя репозиторий https://github.com/lenarsaitov/cianparser.git
    Cохранить его в pandas dataframe
    Cохранить pandas dataframe в pickle
    Cохранить pandas dataframe в excel
    Cохранить pandas dataframe в БД

In [54]:
#!pip install git+https://github.com/lenarsaitov/cianparser.git
#!pip install openpyxl

In [57]:
import cianparser
import pandas as pd
import sqlite3

In [ ]:
moscow_parser = cianparser.CianParser(location="Москва")
data = moscow_parser.get_flats(deal_type="sale", rooms=(1, 2), with_saving_csv=True, additional_settings={"start_page":1, "end_page":20})

print(data[0])

In [49]:
# сохраняем данные в dataframe
df = pd.DataFrame(data)

In [55]:
# сохраняем dataframe в excel
df.to_excel('cian_parsed.xlsx')

In [56]:
# сохраняем dataframe в pickle
df.to_pickle('cian_parsed_pkl.pkl')

In [58]:
# создаем БД
conn = sqlite3.connect('cian.db')

In [59]:
# сохраняем dataframe в таблицу БД
df.to_sql(name='cian_parsed',con=conn)

550

In [62]:
# Проверяем чтение из БД
test = pd.read_sql('select * from cian_parsed', con = conn)
test.head()

,index,author,author_type,url,location,deal_type,accommodation_type,floor,floors_count,rooms_count,total_meters,price,district,street,house_number,underground,residential_complex
0,0,VESPER,developer,https://www.cian.ru/sale/flat/262519758/,Москва,sale,flat,5,21,2,110.60,103787040.0,Пресненский,Костикова,4к1,Улица 1905 года,Lucky
1,1,ID 108172779,real_estate_agent,https://www.cian.ru/sale/flat/301496936/,Москва,sale,flat,7,8,1,53.20,58786000.0,Таганский,Славянская площадь,2/5с1,Китай-город,LUMIN
2,2,Главстрой,developer,https://www.cian.ru/sale/flat/301772281/,Москва,sale,flat,2,8,2,48.83,24219680.0,Котловка,31/2,31/2,Профсоюзная,Новые Академики ЖК
3,3,SHOW ME,real_estate_agent,https://www.cian.ru/sale/flat/302081797/,Москва,sale,flat,2,10,2,69.40,85000000.0,Тверской,Палиха,4,Менделеевская,Клубный дом Maison Rouge
4,4,VESPER,developer,https://www.cian.ru/sale/flat/286258299/,Москва,sale,flat,5,9,2,104.20,143796000.0,Тверской,1-я Тверская-Ямская,2,Маяковская,Vesper Tverskaya